.container {
  width: 520px;
  padding: 12px;

  .title {
    margin-bottom: 24px;
    font-size: 21px;
    font-weight: 800;
    text-transform: uppercase;
  }

  .form {
    gap: 8px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .column {
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 8px;
        font-size: 15px;
        font-weight: 600;
      }

      input {
        padding: 5px 10px;
        border: 1px solid #000000;
      }
    }
  }

  .buttons {
    gap: 8px;
    display: flex;
    align-items: center;

    .formButton {
      padding: 12px 18px;
      font-size: 15px;
      font-weight: 600;
      text-transform: uppercase;
      transition: all 250ms ease-out;

      &.submit {
        color: #f7f7f7;
        background-color: #131313;

        &:hover {
          background: rgba(#131313, 0.75);
        }
      }

      &.decline {
        color: #ff0000;
        background-color: #ffffff;

        &:hover {
          background: rgba(#131313, 0.1);
        }
      }

      &:disabled {
        opacity: 30%;
        user-select: none;
        cursor: default;
      }
    }
  }
}

@media (max-width: 480px) {
  .container {
    width: 100%;
    min-width: 180px;
    padding: 8px;
  }
}
