.container {
  padding: 0 48px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font-size: 24px;
      font-weight: 800;
      text-transform: uppercase;
    }

    .button {
      padding: 12px 18px;
      font-size: 15px;
      font-weight: 600;
      text-transform: uppercase;
      color: #ffffff;
      background: rgba(#131313, 0.75);
      transition: all 250ms ease-out;

      &:hover {
        background: rgba(#131313, 0.5);
      }
    }
  }

  .list {
    margin: 48px 0;
    display: flex;
    flex-wrap: wrap;

    .listItem {
      width: fit-content;
      gap: 8px;
      padding: 8px 12px;
      border-radius: 8px;
      background: rgba(#d3d3d3, 0.35);
      display: flex;
      align-items: center;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      transition: all 250ms ease-out;

      .action {
        color: rgba(#131313, 0.35);
        transition: all 250ms ease-out;

        &:hover {
          color: rgba(#131313, 0.85);
        }
      }

      .card {
        font-size: 18px;
        font-weight: 500;
      }

      &:hover {
        background: rgba(#d3d3d3, 0.6);
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 32px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 12px;

    .header {
      gap: 12px;
      flex-direction: column;
      align-items: flex-start;

      .title {
        font-size: 20px;
      }

      .button {
        padding: 10px 12px;
        font-size: 14px;
      }
    }

    .list {
      margin: 32px 0;

      .listItem {
        padding: 6px 10px;
        font-size: 10px;
      }
    }
  }
}
