.layout {
  height: 100%;
  padding: 0 48px;

  .header {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font-size: 24px;
      font-weight: 700;
    }
  }

  .list {
    height: 100%;
    gap: 12px;
    padding: 32px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .column {
      padding: 8px 12px;
      border-radius: 8px;
      background: rgba(#d3d3d3, 0.35);

      .columnTitle {
        opacity: 35%;
        font-size: 21px;
        font-weight: 800;
        text-transform: uppercase;
      }
    }
  }
}
